<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Sukses!</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1>Pendaftaran Perlombaan Sukses</h1>
            <p>Terima kasih, pendaftaran perlombaan Anda berhasil!</p>
            <p>Peserta <strong th:text="${pesertaDto.namaPeserta}"></strong> telah terdaftar untuk perlombaan <strong th:text="${pesertaDto.jenisPerlombaan.nama}"></strong>.</p>
        </div>
    </div>
</body>
</html>
