<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thmelef/layout">
<head>
    <meta charset="UTF-8">
    <title>List Tim</title>
</head>
<body>
    <h1>Tim List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Jenis Perlombaan</th>
            </tr>
        </thead>
        <tbody>
             Iterate over the list of TimDto objects 
            <tr th:each="tim : ${timList}">
                <td th:text="${tim.id}"></td>
                <td th:text="${tim.nama}"></td>
                <td th:text="${tim.jenisPerlombaanNama}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
    <title>Lomba</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        body {
            background-color: #222222;
            color: #fff;
        }

        h2 {
            margin-top: 35px;
            margin-bottom: 25px;
            color: #ffa500;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .input-group-append .btn-primary {
            background-color: #ffa500;
            border-color: #ffa500;
        }

        .table-bordered {
            border-color: #ffa500;
        }

        .table-bordered thead th {
            background-color: #ffa500;
            color: #222222;
        }

        .table-bordered tbody td {
            background-color: #222222;
            color: #fff;
        }

        .btn-primary {
            background-color: #ffa500;
            border-color: #ffa500;
        }

        .btn-danger {
            background-color: #ff0000;
            border-color: #ff0000;
        }

        .page-item.disabled .page-link {
            background-color: #ffa500;
            border-color: #ffa500;
        }

        .page-item .page-link {
            background-color: #222222;
            border-color: #ffa500;
            color: #ffa500;
        }
    </style>
</head>
<body>
    <div layout:fragment="content"> 
        <div class="container content-wrapper">
            <div class="container">
                <div class="text-center">
                    <h2>My Information</h2>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <th style="width:10%"> ID </th>
                        <th style="width: 20%">Nama </th>
                        <th style="width: 20%">Jenis Perlombaan </th>
                        <th style="width: 20%">Actions </th>
                    </thead>                    
                    <tbody>
                        <tr th:each="peserta : ${pesertaList}">
                            <td th:text="${peserta.id}">id</td>
                            <td th:text="${peserta.nama}">first-name</td>
                            <td th:text="${peserta.jenisPerlombaanNama}">last-name</td>
                            <td> 
                                <a th:href="@{/peserta/edit/{id}(id=${peserta.id})}" class="btn btn-primary" >Update</a> 
                                <a th:href="@{/peserta/delete/{id}(id=${peserta.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this team?')">Delete</a>
                            </td>                         
                        </tr>                  
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</body>
</html>



