<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
    <div layout:fragment="content">
            <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(/img/page-top-bg/4.jpg);"></div>
						<div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Registration</h3>
                                </div>
                            </div>
                            <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                                <div class="form-group mb-3">
                                    <label class="label" for="firstName">First Name</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter first name" th:field="*{firstName}" required>
                                    <p th:errors="*{firstName}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="lastName">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter last name" th:field="*{lastName}" required>
                                    <p th:errors="*{lastName}" class="text-danger" th:if="${#fields.hasErrors('lastName')}"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter email address" th:field="*{email}" required>
                                    <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" th:field="*{password}" required>
                                    <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button>
                                  
                                </div>
                                <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</body>
</html>