<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <title>Update Peserta Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #222222;
            color: #ffffff;
        }
        
        h2 {
            color: #ffffff;
        }
        
        th {
            background-color: #ffa500;
            color: #222222;
        }
        
        .card {
            background-color: #222222;
            border-color: #ffa500;
            color: #ffffff;
            margin-top: 50px;
        }
        
        .card-header {
            background-color: #ffa500;
            color: #222222;
            border-color: #ffa500;
        }
        
        .form-control {
            background-color: #222222;
            border-color: #ffa500;
            color: #ffffff;
        }
        
        .btn-primary {
            background-color: #ffa500;
            border-color: #ffa500;
        }
        
        .btn-primary:hover {
            background-color: #cc8400;
            border-color: #cc8400;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <div class="container content-wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-center">Update Peserta ID: <span th:text="${pesertaDto.id}">ID</span></h2>
                            </div>
                            <div class="card-body">
                                <form role="form" method="post"
                                    th:object="${pesertaDto}"
                                    th:action="@{/peserta/update/{id}(id=${pesertaDto.id})}">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:value="${currentUserId}" th:field="*{user.id}">
                                    <div class="mb-3">
                                        <label class="form-label">Nama</label>
                                        <input type="text" class="form-control" placeholder="Enter nama" th:field="*{nama}">
                                        <p th:if="${#fields.hasErrors('nama')}" class="text-danger" th:errors="*{nama}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="jenisPerlombaan">Jenis Perlombaan:</label>
                                        <select id="jenisPerlombaan" class="form-control" th:field="*{jenisPerlombaan.id}" required>
                                            <option value="">Pilih jenis perlombaan</option>
                                            <option th:each="jenisPerlombaan : ${jenisPerlombaanList}" th:value="${jenisPerlombaan.id}" th:text="${jenisPerlombaan.nama}"></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
