<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
    <title>Registered User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #222222;
            color: #ffffff;
        }

        h2 {
            color: #ffa500;
            margin-top: 35px;
            margin-bottom: 20px;
        }

        th {
            background-color: #ffa500;
            color: #222222;
        }

        table {
            color: #ffffff;
        }

        table tbody tr:nth-child(odd) {
            background-color: #444444;
        }

        table tbody tr:hover {
            background-color: #555555;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="container content-wrapper">
            <div class="container">
                <div class="text-center">
                    <h2>List of Users</h2>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">ID</th>
                            <th style="width:20%">First Name</th>
                            <th style="width:20%">Last Name</th>
                            <th style="width:30%">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
