<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | Add Lomba</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #252525;
            color: #ffffff;
        }

        .content-wrapper {
            margin-top: 35px;
            background-color: #333333;
            padding: 20px;
            border-radius: 5px;
        }

        h2 {
            color: #ff9500;
            text-align: center;
        }

        .form-label {
            color: #ffffff;
        }

        .form-control {
            background-color: #333333;
            color: #ffffff;
            border-color: #ff9500;
        }

        .form-control:focus {
            background-color: #404040;
            color: #ffffff;
            border-color: #ff9500;
            box-shadow: none;
        }

        .btn-primary {
            background-color: #ff9500;
            border-color: #ff9500;
        }

        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #ff9500;
            border-color: #ff9500;
            opacity: 0.8;
        }

        /* CSS untuk tabel */
        table {
            width: 100%;
            border-collapse: collapse;
        }

/*        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
        }*/

/*        th {
            background-color: #ff9500;
        }*/

        tr:nth-child(even) {
            background-color: #404040;
        }

        .action-buttons {
            display: flex;
            justify-content: space-around;
        }

        .action-buttons a {
            color: #ffffff;
            text-decoration: none;
        }

        .action-buttons a:hover {
            text-decoration: underline;
        }

        .btn-update {
            color: #ffffff;
            background-color: #2196f3;
            border-color: #2196f3;
        }

        .btn-delete {
            color: #ffffff;
            background-color: #f44336;
            border-color: #f44336;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">  
        <div class="container">
            <div class="container content-wrapper">
                <h2>Tambah Jenis Perlombaan</h2>
                <form th:action="@{/jenisperlombaan/save}" method="post">
                    <div class="mb-3">
                        <label for="nama" class="form-label">Nama Jenis Perlombaan</label>
                        <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan nama jenis perlombaan" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
                <hr>
                <h2>Jenis Perlombaan</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="jenisPerlombaan : ${jenisPerlombaanList}">
                            <td th:text="${jenisPerlombaan.id}"></td>
                            <td th:text="${jenisPerlombaan.nama}"></td>
                            <td class="action-buttons">
                                <a th:href="@{/jenis-perlombaan/delete/{id}(id=${jenisPerlombaan.id})}" class="btn btn-delete">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
