<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
    <title>Lomba</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        body {
            background-color: #222222;
            color: #fff;
        }

        h2 {
            margin-top: 35px;
            margin-bottom: 25px;
            color: #ffa500;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .input-group-append .btn-primary {
            background-color: #ffa500;
            border-color: #ffa500;
        }

        .table-bordered {
            border-color: #ffa500;
        }

        .table-bordered thead th {
            background-color: #ffa500;
            color: #222222;
        }

        .table-bordered tbody td {
            background-color: #222222;
            color: #fff;
        }

        .btn-primary {
            background-color: #ffa500;
            border-color: #ffa500;
        }

        .btn-danger {
            background-color: #ff0000;
            border-color: #ff0000;
        }

        .page-item.disabled .page-link {
            background-color: #ffa500;
            border-color: #ffa500;
        }

        .page-item .page-link {
            background-color: #222222;
            border-color: #ffa500;
            color: #ffa500;
        }

        .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        }

        .pagination .paginationn {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        }

        .pagination .paginationn li {
        margin-right: 10px;
        }

        select.form-control {
            background-color: #222222;
            color: #ffa500;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="container content-wrapper">
            <div class="container">
                <div class="text-center">
                    <h2>Daftar Peserta</h2>
                </div>
                <form th:action="@{/peserta/admin/list}" th:method="get">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" name="keyword" th:value="${keyword}" class="form-control"
                                placeholder="Kata kunci pencarian..." id="search-input">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Cari</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered table-striped">
                    <thead>
                        <th style="width:10%">ID</th>
                        <th style="width: 20%">Nama</th>
                        <th style="width: 20%">Jenis Perlombaan</th>
                        <th style="width: 20%">Actions</th>
                    </thead>
                    <tbody>
                        <tr th:each="peserta : ${pesertaDtos}">
                            <td th:text="${peserta.id}">id</td>
                            <td th:text="${peserta.nama}">first-name</td>
                            <td th:text="${peserta.jenisPerlombaanNama}">last-name</td>
                            <td>
                                <a th:href="@{/peserta/edit/{id}(id=${peserta.id})}" class="btn btn-primary">Update</a>
                                <a th:href="@{/peserta/delete/{id}(id=${peserta.id})}" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete this team?')">Delete</a>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <ul class="paginationn">
                        <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                            <a class="page-link"
                                th:href="@{'/peserta/admin/list?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'page=' + ${1} + '&size=' + ${pageSize}}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                            <a class="page-link"
                                th:href="@{'/peserta/admin/list?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'page=' + ${currentPage - 1} + '&size=' + ${pageSize}}">&laquo;</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                            <a class="page-link"
                                th:href="@{'/peserta/admin/list?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'page=' + ${currentPage + 1} + '&size=' + ${pageSize}}">&raquo;</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                            <a class="page-link"
                                th:href="@{'/peserta/admin/list?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'page=' + ${totalPages} + '&size=' + ${pageSize}}">Last</a>
                        </li>
                        <li>
                            <select class="form-control" onchange="location = this.value;">
                                <option th:each="pageSizeOption : ${pageSizes}"
                                    th:value="@{'/peserta/admin/list?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''} + 'page=1&size=' + ${pageSizeOption}}"
                                    th:selected="${pageSizeOption == pageSize}">
                                    <span th:text="${pageSizeOption}"></span>
                                </option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
