<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
        <meta charset="UTF-8">

	<!-- Favicon -->   
	<link href="img/favicon.ico" rel="shortcut icon"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
        
        <!-- Bootstrap CSS dan js -->
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
            crossorigin="anonymous">-->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
        <link th:href="@{/css/owl.carousel.css}" rel="stylesheet"/>
        <link th:href="@{/css/animate.css}" rel="stylesheet"/>
        <!-- Menambahkan CSS secara spesifik-->
        <style>
        .tournaments-section {
	background-image: url("img/pattern.png");
	background-repeat: repeat;
        }
        .footer-top-section {
	background-image: url("img/pattern.png");
	background-repeat: repeat;
	padding: 72px 0;
        }
        div[layout|fragment="content"] {
        height: 100vh;
        width: 100vw;
        }
        </style>
        
    </head>
    <body>
<!--       <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/register}" class="nav-link">Register</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/login}" class="nav-link">Login</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/tim/daftar-perlombaan}" class="nav-link">Daftar Lomba</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/tim/admin/list}" class="nav-link">Participant</a></li>
                    <li class="nav-item" sec:authorize="hasRole('USER')"><a th:href="@{/tim/list}" class="nav-link">My Information</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/students/add}" class="nav-link">Create Student</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}" class="nav-link">Daftar Users</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a href="#" class="nav-link">FAQs</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a href="#" class="nav-link">About</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link" aria-current="page">Logout</a></li>
            </ul>
        </header>
      </div> -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" th:href="@{/}">
				<img th:src="@{/img/logo.png}" alt="">
			</a>
			<div class="user-panel">
				<a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a> 
                                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
			<nav class="main-menu">
                            <ul>
                                <li> <a th:href="@{/}">Home</a></li>
                                <li  sec:authorize="isAuthenticated()"><a th:href="@{/tim/daftar-perlombaan}">Daftar Lomba</a></li>
                                <li  sec:authorize="hasRole('ADMIN')"><a th:href="@{/tim/admin/list}">Participant</a></li>
                                <li  sec:authorize="hasRole('USER')"><a th:href="@{/tim/list}">My Information</a></li>
                                <li  sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}">Daftar Users</a></li>
                                <li  sec:authorize="isAnonymous"><a href="#">FAQs</a></li>
                                <li  sec:authorize="isAnonymous"><a href="#">About</a></li>
                                <li  sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Profile</a></li>
                            </ul>
			</nav>
		</div>
	</header>

        <!-- Content Section -->
        <div layout:fragment="content">
            <p>Body contents</p>
        </div>        
        <!-- Footer -->
        <footer class="footer-section">
            <div class="container">
                <ul class="footer-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="review.html">Games</a></li>
                    <li><a href="categories.html">Blog</a></li>
                    <li><a href="community.html">Forums</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
            </div>
        <!-- Optional Section -->
        <th:block layout:fragment="optional" />    
        
              
        </script> 
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.marquee.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
  </body>  
</html>
