<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="_layout">
<head>
    <title>Form Perlombaan</title>
    <!-- <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/> -->
    <style>
    .section {
        position: relative;
        height: 100vh;
    }

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #booking {
        font-family: 'Montserrat', sans-serif;
        background-image: url('../img/gaming.jpg');
        background-size: cover;
        background-position: center;
    }

    #booking::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    .booking-form {
        max-width: 642px;
        width: 100%;
        margin: auto;
    }

    .booking-form .form-header {
        text-align: center;
        margin-bottom: 25px;
    }

    .booking-form .form-header h1 {
        font-size: 58px;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffc001;
        margin: 0px;
    }

    .booking-form>form {
        background-color: #101113;
        padding: 30px 20px;
        border-radius: 3px;
    }

    .booking-form .form-group {
        position: relative;
        margin-bottom: 15px;
    }

    .booking-form .form-control {
        background-color: #f5f5f5;
        border: none;
        height: 45px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: 400;
        color: #101113;
    }

    .booking-form .form-control::-webkit-input-placeholder {
        color: rgba(16, 17, 19, 0.3);
    }

    .booking-form .form-control:-ms-input-placeholder {
        color: rgba(16, 17, 19, 0.3);
    }

    .booking-form .form-control::placeholder {
        color: rgba(16, 17, 19, 0.3);
    }

    .booking-form input[type="date"].form-control:invalid {
        color: rgba(16, 17, 19, 0.3);
    }

    .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .booking-form select.form-control+.select-arrow {
        position: absolute;
        right: 0px;
        bottom: 6px;
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: #101113;
        font-size: 14px;
    }

    .booking-form select.form-control+.select-arrow:after {
        content: '\279C';
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .booking-form .form-label {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
    }

    .booking-form .submit-btn {
        color: #101113;
        background-color: #ffc001;
        font-weight: 700;
        height: 50px;
        border: none;
        width: 100%;
        display: block;
        border-radius: 3px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .booking-form .submit-btn:hover {
        transform: scale(1.025);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    
    .form-group {
    margin-bottom: 20px;
    }

    .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    }

    select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

    option {
    padding: 8px;
    font-size: 14px;
    }

    /* Opsi pertama (placeholder) */
    option:first-child {
    color: #999;
    }

    </style>
</head>
<body>
    <div layout:fragment="content">            
        <div id="booking" class="section">
            <div class="section-center">
                <div class="container">
                    <div class="row">
                        <div class="booking-form">
                            <div class="form-header">
                                <h1>Form Peserta</h1>
                            </div>
                            <form action="/tim/daftar-perlombaan/process" th:object="${timDto}" method="post">
                                <div class="form-group">
                                    <span class="form-label">Nama Lengkap</span>
                                    <input type="text" class="form-control" placeholder="Enter your name" th:field="*{nama}">
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Jenis Perlombaan</span>
                                    <select id="jenisPerlombaan" th:field="*{jenisPerlombaan.id}" required>
                                        <option value="">Pilih jenis perlombaan</option>
                                        <option th:each="jenisPerlombaan : ${jenisPerlombaanList}" th:value="${jenisPerlombaan.id}" th:text="${jenisPerlombaan.nama}"></option>
                                    </select>
                                </div>
                                <div>
                                    <input type="hidden" th:value="${currentUserId}" th:field="*{user.id}">
                                </div>
                                <div class="form-btn">
                                    <button class="submit-btn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>        
</body>
</html>


