<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
    layout:decorate="_layout"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
    <div layout:fragment="content">
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
                                                    <div class="img" style="background-image: url(/img/page-top-bg/4.jpg);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign In</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form
                                                            action="#" 
                                                            class="signin-form"
                                                            method="post"
                                                            role="form"
                                                            th:action="@{/login}">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Email</label>
			      			<input 
                                                    type="text"
                                                    id="username"
                                                    name="username"
                                                    class="form-control"
                                                    placeholder="Enter email address"
                                                    required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Password</label>
		              <input 
                                   type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Enter password"
                                   required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
		            </div>
		          </form>
		          <span> Not registered ?
                                        <a th:href="@{/register}">Register / Signup here</a>
                          </span>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
<!--        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Email or Password</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success"> You have been logged out.</div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Login Form</h2>
                        </div>
                        <div class="card-body">
                            <form
                                method="post"
                                role="form"
                                th:action="@{/login}"
                                class="form-horizontal"
                            >
                                <div class="form-group mb-3">
                                    <label class="control-label"> Email</label>
                                    <input
                                        type="text"
                                        id="username"
                                        name="username"
                                        class="form-control"
                                        placeholder="Enter email address"
                                    />
                                </div>

                                <div class="form-group mb-3">
                                    <label class="control-label"> Password</label>
                                    <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            class="form-control"
                                            placeholder="Enter password"
                                    />
                                </div>
                                <div class="form-group mb-3">
                                    <button type="submit" class="btn btn-primary" >Submit</button>
                                    <span> Not registered ?
                                        <a th:href="@{/register}">Register/Signup here</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
  <script th:src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  	<script th:src="@{/js/main.js}"></script>
</body>
</html>

	