<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>

<body>
    <div layout:fragment="content">
      <h1>Welcome, <span th:text="${#authentication.name}"></span>!</h1>
    </div>   

</body>
</html>