<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thmelef/layout">
<head>
    <meta charset="UTF-8">
    <title>List Tim</title>
</head>
<body>
    <h1>Tim List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Jenis Perlombaan</th>
            </tr>
        </thead>
        <tbody>
             Iterate over the list of TimDto objects 
            <tr th:each="tim : ${timList}">
                <td th:text="${tim.id}"></td>
                <td th:text="${tim.nama}"></td>
                <td th:text="${tim.jenisPerlombaanNama}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
    <title>Lomba</title>
</head>
<body>
    <div layout:fragment="content"> 
        <div class="container">
            <div class="text-center">
                <h2>List of Added Peserta</h2>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <th style="width:10%"> ID </th>
                    <th style="width: 20%">Nama Tim </th>
                    <th style="width: 20%">Jenis Perlombaan </th>
                    <th style="width: 20%">Actions </th>
                </thead>                    
                <tbody>
                    <tr th:each="tim : ${timList}">
                        <td th:text="${tim.id}">id</td>
                        <td th:text="${tim.nama}">first-name</td>
                        <td th:text="${tim.jenisPerlombaanNama}">last-name</td>
                        <td> 
                            <a th:href="@{/tim/edit/{id}(id=${tim.id})}" class="btn btn-primary" >Update</a> 
                            <a th:href="@{/tim/delete/{id}(id=${tim.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this team?')">Delete</a>
                            
                        </td>                         
                    </tr>                  
                </tbody>    
            </table>
        </div>
    </div>
</body>
</html>



