<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <title>Update Peserta Form</title>
</head>
<body>
    <div layout:fragment="content">            
        <div class="container">                
            <div class="row col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center"> Update Peserta ID: <span th:text="${timDto.id}">ID</span> </h2>
                    </div>
                    <div class="card-body"> 
                        <form role="form" method="post" th:object="${timDto}" th:action="@{/tim/update/{id}(id=${timDto.id})}">
                            <input type="hidden" th:field="*{id}" >
                            <input type="hidden" th:value="${currentUserId}" th:field="*{user.id}">
                            <div class="mb-3">
                                <label class="form-label"> Nama </label>
                                <input type="text" class="form-control" placeholder="Enter nama" th:field="*{nama}">
                                <p th:if="${#fields.hasErrors('nama')}" class="text-danger" th:errors="*{nama}"></p>
                            </div>
                            <div class="mb-3">
                             <label for="jenisPerlombaan">Jenis Perlombaan:</label>
                             <select id="jenisPerlombaan" th:field="*{jenisPerlombaan.id}" required>
                              <option value="">Pilih jenis perlombaan</option>
                              <option th:each="jenisPerlombaan : ${jenisPerlombaanList}" th:value="${jenisPerlombaan.id}" th:text="${jenisPerlombaan.nama}"></option>
                             </select>

                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
